.header{
    position: absolute;
    // margin-top: 3%;
    background-color: transparent;
    width: 100%;
    top: 3%;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-menu{
        width: 45%;
        .navbar-menu__list{
            display: flex;
            .navbar-menu__item{
                margin-left:7% ;
                .navbar-menu__link{
                    text-decoration: none;
                    font-family: 'Montserrat Medium';
                }
            }
        }
    }
}